.student-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  padding: 5px;
  background-color: #237fb3;
  border: none;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #4d53fd;
}
